.container {
  display: flex;
}

.left-module {
  width: 200px;
  background-color: #B7C88E;
  padding: 20px;
}

.right-module {
  flex: 1;
  opacity: 1;
  padding: 20px;
}

.right-module h1,
.right-module ul,
.right-module li,
.right-module p {
  opacity: 1;
}

.right-module img {
  display: block;
  margin: 20px auto;
}
